body {
	background-color: #CAD2C5;
	color: #fff;
	margin: 100px;
	font-family: Verdana, sans-serif;
}

.container1 {
	display: flex;
	gap: 15px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.container2 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.pagecontainer {
	width: 100%;
}

.figures{
	background-color: #52796F;
	border-radius: 20px;
	height: 200px;
	width: 700px;
}

.category {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #354F52;
	display: flex;
	justify-content: center;
	align-items: center;
}

.time {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #354F52;
	display: flex;
	justify-content: center;
	align-items: center;
}

.kysimused {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #354F52;
	height: 150px;
	width: 700px;
	border-radius: 20px;
	font-size: 9px;
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.answer-button {
	background-color: #84A98C;
	padding: 16px 32px;
	border-radius: 20px;
	height: 65px;
	width: 700px;
	margin: 15px;
	color: #fff;
	font-size: 15px;
	font-family: Verdana, sans-serif;
}

.answer-button:hover {
  background-color: #52796F;
}

.answer-button:active {
  background-color: #52796F;
}